.message {
  width: 96%;
  height: auto;
  margin-bottom: 10px;
  padding: 5px;

  word-break: break-all;

  background-color: #e9f7f6;
  border: 1px solid #dcebea;
  border-radius: 5px;
}
.join-message {
  text-align: center;
}

.message-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.message-info-user {
  width: 50%;

  text-decoration: underline;
}
.message-info-date {
  width: 50%;

  text-align: right;
}