.form-message {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.message-input {
  width: 87%;
  margin-right: auto;
  padding: 5px 10px;

  border: 3px solid #b1e3df;
  border-radius: 10px;
  outline: none;;
}
